extends ../layout

block content
    div(class='content')
        h1= title

        if errors.errors !== undefined
            each message in errors.errors
                p=message 

        form(method='post' class='news-form')
            p
                label Title
                input(type='text' name='title' value=body.title || '')
            p
                label Description
                textarea(name='description')=body.description || ''
            p
                button(name='save') Send
