extends layout

block content
  div(class='content')
    h1 Welcome to #{title}.
    p Here you can find redirects to subpage. Go first to the ADMIN tab and log in. 
      span Use Login: admin & password: 123
